:root {
  --color-main: #36b37e;
  --color-white: #fff;
  --color-dark-blue: #172b4d;
  --html-test-background: #fff;
  --color-button-hover: #36b37f36;
  --color-button-enable: #36b37f;
  --color-button-pressed: #008552;
  --sect-max-width: 2160px;
  --wrap-max-width: 1280px;
  --color-card-bg: #ebf0ee;
  --color-card-br: #d0d9d4;
  --color-card-text: #3a4a42;
  --color-nav-text: #344563;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.15%;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

.header {
  width: 100vw;
  max-width: var(--sect-max-width);
  height: 5vh;
  min-height: 60px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--color-white);
}

header ul {
  display: none;
}

.burger {
  width: 18px;
  height: 12px;
  margin-top: 25px;
  margin-right: 30px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: pointer;
}

.burger-container {
  position: absolute;
  display: fixed;
  top: 0px;
  right: 0px;
  left: 100%;
  background-color: #fff;
  bottom: 0px;
  width: 100%;
  color: #172b4d;
}

.burger .bar {
  border-radius: 20px;
  height: 2px;
  background-color: var(--color-dark-blue);
}

#main {
  background-color: var(--html-test-background);
}

.main {
  width: 100vw;
  max-width: var(--sect-max-width);
  min-height: 770px;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  background-image: url("Visual/header-bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: var(--color-white);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main .h1-sub {
  width: 80%;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 52px;
  text-align: center;
  color: var(--color-main);
}

.main h1 {
  margin-top: 5%;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 52px;
  text-align: center;
  color: var(--color-dark-blue);
}

p,
.main p {
  width: 82%;
  min-width: 300px;
  margin-top: 5%;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  text-align: center;
  color: var(--color-dark-blue);
}

.main-media {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-media ul {
  width: 50%;
  max-width: 230px;
  padding-left: 0;
  margin: 5% 0 10% 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.main-button-down {
  width: 40px;
  height: 40px;
  margin: 20% auto 5% auto;
  border-radius: 50%;
}

.main-button-down:hover {
  box-shadow: var(--color-button-hover) 0 0 0 0;
}

#projects {
  background-color: var(--html-test-background);
}

.projects {
  width: 100vw;
  max-width: var(--sect-max-width);
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-white);
}

h2,
.projects-title {
  max-width: 463px;
  margin: 7% auto 3% auto;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
  color: var(--color-dark-blue);
  text-align: center;
}

.projects-icon {
  width: 48px;
  margin: 0 auto 10% auto;
  border-radius: 24px;
  height: 5px;
  background-color: var(--color-main);
}

.projects-wrap,
.wrapper {
  width: 100vw;
  max-width: var(--wrap-max-width);
  margin-bottom: 30px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(327px, 1fr));
  row-gap: 32px;
}

.project-card {
  width: 327px;
  height: 474px;
  position: relative;
  background: var(--color-card-bg);
  border: 1px solid var(--color-card-br);
  border-radius: 8px;
}

.project:last-child {
  display: none;
}

.card-wrap {
  width: 327px;
  height: 222px;
  position: absolute;
  left: calc(50% - 327px / 2);
  bottom: -1px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  background: var(--color-white);
  border-left: 1px solid var(--color-card-br);
  border-right: 1px solid var(--color-card-br);
  border-bottom: 1px solid var(--color-card-br);
  border-radius: 8px;
}

h4,
.card-title {
  width: 100%;
  height: 48px;
  margin: 0 0 16px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-align: center;
  color: var(--color-card-text);
}

.card-tags,
.tags {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 8px 0;
  list-style: none;
  float: left;
}

.card-tags li,
.tags li {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
  color: var(--color-card-text);
  background: #ebf0ee;
  border-radius: 4px;
}

.project-card-descrip {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-nav-text);
}

button,
button a {
  max-height: 48px;
  padding: 0 5%;
  margin: 0 12px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: var(--color-white);
  cursor: pointer;
}

button,
.card-button {
  width: auto;
  height: 48px;
  border-style: none;
  margin-top: 8px;
  background: var(--color-button-enable);
  border-radius: 4px;
}

button:hover {
  box-shadow: 0 8px 16px var(--color-button-hover);
}

button:active {
  background: var(--color-button-pressed);
}

.about-button a {
  padding: 0;
}

.header-active ul li a {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4.4rem;
  text-decoration: none;
  color: var(--color-card-text);
}

#about {
  background-color: var(--html-test-background);
}

.about-me {
  width: 100vw;
  max-width: var(--sect-max-width);
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-white);
}

.about-container {
  width: 100vw;
  max-width: var(--sect-max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  background-image:
    url("Visual/about-left-mobile.svg"),
    url("Visual/about-right-mobile.svg");
  background-repeat: no-repeat;
  background-size: 17%, 17%;
  background-position: bottom left, top right;
}

.about-button {
  margin: 5% auto 0 auto;
  padding: 0;
}

.about-me__wrapper {
  margin-top: 60px;
}

.about-card-container {
  box-sizing: border-box;
  height: 316px;
  width: 327px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
}

.about-languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.about-icon-holder {
  height: 80px;
  width: 80px;
  margin: 40px auto 28px auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
}

.about-title {
  width: 100%;
  height: 48px;
  margin: 0 0 10px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-align: center;
  color: var(--color-card-text);
}

.about-card-tags {
  width: 90%;
  justify-content: center;
  gap: 8px;
}

.about-description {
  width: 68vw;
}

.about-card-tags li {
  height: 40px;
  background: #fff;
  border-radius: 8px;
  color: #36b37e;
}

.contact-form {
  background-color: #fff;
  max-width: var(--sect-max-width);
  margin: 4% auto 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  background-image: url("Visual/contact-right-mobile.svg");
  background-repeat: no-repeat;
  background-size: 17%;
  background-position: bottom right;
}

.contact-form h2 {
  margin-bottom: 5px;
}

.contact-container {
  width: 90%;
  max-width: 684px;
}

.contact-container ul {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "full-name" "email" "message" "submit";
  gap: 24px;
  list-style: none;
}

button[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 12px;
  cursor: pointer;
}

.first-name,
.last-name {
  display: none;
}

input[type="text"],
[type="email"],
textarea {
  width: 100%;
  height: 48px;
  padding-left: 16px;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #d0d9d4;
  resize: none;
}

textarea {
  width: 100%;
  height: 114px;
  padding: 12px;
  font-style: normal;
  font-family: "Inter", sans-serif;
  background-image: url(Visual/Icon\ -\ Resizer\ Handle.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

label {
  display: none;
}

.contact-my-email {
  margin: 0 auto 8% auto;
}

footer {
  background-color: var(--html-test-background);
}

.footer {
  max-width: var(--sect-max-width);
  height: 72px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-media ul {
  margin: 0;
}

@media screen and (min-width: 375px) {
  header ul {
    width: 255px;
  }

  .main {
    height: 720px;
  }

  p,
  .main p {
    max-width: 700px;
  }

  .main-media ul {
    margin-bottom: 0;
  }

  .main-button-down {
    margin-top: 15%;
  }
}

@media screen and (min-width: 768px) {
  header {
    position: relative;
  }

  .header {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    background-color: transparent;
  }

  .header-active {
    display: none;
  }

  header ul {
    width: 220px;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .main h1,
  .main .h1-sub {
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: calc(37px / 100);
  }

  header ul a {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    text-decoration: none;
    color: var(--color-nav-text);
  }

  .burger,
  .burger-active {
    display: none;
  }

  .main {
    height: 1407px;
    min-height: 720px;
    max-height: 1180px;
    justify-content: center;
    background-image: url("Visual/header-bg-desktop.svg");
  }

  .span-br {
    display: none;
  }

  p,
  .main p {
    width: 100%;
    margin-top: 2%;
    max-width: 950px;
    line-height: 3.2rem;
  }

  .main-button-down {
    margin: 5% auto 5% auto;
    border-radius: 50%;
  }

  .projects-icon {
    display: none;
  }

  .first-name,
  .last-name {
    display: block;
  }

  .title h2 {
    font-size: 3rem;
  }

  .contact-my-email {
    display: none;
  }

  .contact-form ul {
    gap: 24px;
    list-style: none;
  }

  button[type="submit"] {
    justify-content: flex-start;
    margin: 0 auto 15% 0;
  }

  .contact-form {
    min-height: 600px;
    background-image: url(Visual/contact-right-desktop.svg), url(Visual/contact-left-desktop-1.svg), url(Visual/contact-left-desktop-2.svg);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: bottom right, bottom left, 15% bottom;
  }
}
