:root {
  --color-main: #36b37e;
  --color-white: #fff;
  --color-dark-blue: #172b4d;
  --html-test-background: #fff;
  --color-button-hover: #36b37f36;
  --sect-max-width: 2160px;
  --wrap-max-width: 1280px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.15%;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

.header {
  width: 100vw;
  max-width: var(--sect-max-width);
  height: 5vh;
  min-height: 60px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--color-white);
}

header ul {
  display: none;
}

.burger {
  width: 18px;
  height: 12px;
  margin-top: 25px;
  margin-right: 30px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: pointer;
}

.burger .bar {
  border-radius: 20px;
  height: 2px;
  background-color: var(--color-dark-blue);
}

#main {
  background-color: var(--html-test-background);
}

.main {
  width: 100vw;
  max-width: var(--sect-max-width);
  min-height: 770px;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  background-image: url("Visual/header-bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: var(--color-white);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main h1 {
  margin-top: 5%;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 52px;
  text-align: center;
  color: var(--color-dark-blue);
}

.main .h1-sub {
  width: 80%;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 52px;
  text-align: center;
  color: var(--color-main);
}

p,
.main p {
  width: 82%;
  min-width: 300px;
  margin-top: 5%;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  text-align: center;
  color: var(--color-dark-blue);
}

.span-br2 {
  display: none;
}

.main-media {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-media ul {
  width: 50%;
  max-width: 230px;
  padding-left: 0;
  margin: 5% 0 10% 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.main-button-down {
  width: 40px;
  height: 40px;
  margin: 20% auto 5% auto;
  border-radius: 50%;
}

.main-button-down:hover {
  box-shadow: var(--color-button-hover) 0 0 0 0;
}

@media screen and (min-width: 375px) {
  header ul {
    width: 255px;
  }

  .main {
    height: 720px;
  }

  p,
  .main p {
    max-width: 700px;
  }

  .main-media ul {
    margin-bottom: 0;
  }

  .main-button-down {
    margin-top: 15%;
  }
}

@media screen and (min-width: 768px) {
  header {
    position: relative;
  }

  .header {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    background-color: transparent;
  }

  .header-active {
    display: none;
  }

  header ul {
    width: 220px;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  header ul a {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    text-decoration: none;
    color: var(--color-nav-text);
  }

  .burger,
  .burger-active {
    display: none;
  }

  .main {
    min-height: 720px;
    max-height: 1180px;
    justify-content: center;
    background-image: url("Visual/header-bg-mobile.svg");
  }

  .span_br {
    display: none;
  }

  p,
  .main p {
    width: 85%;
    max-width: 600px;
    margin-top: 1%;
  }

  .main-button-down {
    margin: 5% auto 5% auto;
    border-radius: 50%;
  }
}
